<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBD_ResourcePackManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBD_ResourcePackManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBD_ResourcePackManager.Properties.Settings>
            <setting name="ResourcesVersionMajor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResourcesVersionMinor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PacksVersionMajor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PacksVersionMinor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameInstallationPath" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\Dead by Daylight</value>
            </setting>
            <setting name="ThemeSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThemeActual" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateAvailable" serializeAs="String">
                <value />
            </setting>
        </DBD_ResourcePackManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DBD_ResourcePackManager.Properties.Settings>
            <setting name="ProgramVersionMajor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgramVersionMinor" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ProgramVersionPatch" serializeAs="String">
                <value>6</value>
            </setting>
        </DBD_ResourcePackManager.Properties.Settings>
    </applicationSettings>
</configuration>